[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
geopandas = "*"
shapely = "*"
osmnx = "*"
networkx = "*"
geopy = "*"
matplotlib = "*"
contextily = "*"
googlemaps = "*"
requests = "*"
unidecode = "*"
python-dotenv = "*"

[dev-packages]
pandas-stubs = "*"
ruff = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.12"
